.friends {
  display: flex;
  padding-top: 46px;

  width: 100%;
  height: calc(100% - var(--nav-height));

  .wrapper {
    margin: 0 auto;
    width: 1050px;

    .list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
