.home {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: calc(100% - var(--nav-height));

  span {
    font-size: 26px;
    font-weight: 700;
    color: black;
    margin-top: calc(var(--nav-height) * -1);
  }
}
